* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(236, 234, 232);
}


/*Comienzo Arreglar Header*/

header {
    background: rgba(255, 255, 255, 0.788);
    backdrop-filter: blur(8px);
}


#centrarlogotipo {
    filter: invert();
}

#submenuitem {
    color: rgb(41, 41, 43);
}

header .redes_sociales1 p,
header .redes_sociales1 #ico-gmail,
header .redes_sociales1 .icofont-ui-call {
    color: rgb(41, 41, 43);
}

header .linea-1,
header .linea-3 {
    background-color: rgb(41, 41, 43);
}

/*Fin Arreglar Header*/

/*Diseño en modo dispositivo*/

#imagenartistas_2{
    display: none;
}

.contenedorartistas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.imagenartistas {
    position: relative;
    max-height: 90vh;
    overflow: hidden;
    width: 90%;
}

.imagenartistas img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 35px;
}

.tituloartista {
    position: absolute;
    width: 250px;
    top: 0;
    left: 10px;
    color: white;
}

.txtartistas {
    width: 90%;
    background-color: white;
    box-shadow: 3px 3px 10px rgba(134, 135, 136, 0.1);
    border-radius: 35px;
    text-align: justify;
    margin: 3%;
}

.txtartistas h2 {
    font-family: Laika;
    font-size: 35px;
    color: rgb(52, 52, 53);
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 25px;
    margin-top: 15px;
}

.txtartistas p {
    font-family: NewQueen;
    font-size: 15px;
    color: rgb(52, 52, 53);
}

.txtartistascotenido {
    margin: auto;
    max-width: 600px;
    padding-top: 4%;
    padding-bottom: 8%;
    padding-left: 25px;
    padding-right: 25px;
    color: rgb(52, 52, 53);
}

.textocontactoartista {
    font-family: NewQueen;
    margin-top: 15px;
    margin-bottom: 15px;
}

.textocontactoartista a {
    font-family: NewQueen;
    text-decoration: none;
    color: rgb(67, 67, 67);
}

.textocontactoartista p {
    font-family: NewQueen;
    letter-spacing: 0.7px;
    padding-top: 3%;
    font-size: 16px;
    line-height: 1.4;
}

/*Diseño en modo pc*/

@media (max-width: 315px) {
    .contenedorartistas {
        min-width: 270px;
    }

    .textocontactoartista p {
        font-size: 14px;
    }
}

@media screen and (min-width: 1050px) {
    header {
        background: rgba(255, 255, 255, 0);
        backdrop-filter: blur(0px);
    }

    #imagenartistas_2{
        display: block;
    }

    #imagenartistas_1{
        display: none;
    }

    .contenedorartistas {
        flex-direction: row;
        margin-top: 0px;
        max-height: 100vh;
    }

    .imagenartistas {
        top: 0;
        left: 0;
        width: 50vw;
        max-height: 100vh;
        overflow: hidden;
        z-index: -1;
    }

    .imagenartistas img {
        height: 100vh;
        width: 100%;
        border-radius: 0;
    }

    .txtartistas {
        width: 50vw;
        height: 100%;
        margin: auto;
        padding-left: 50px;
        padding-right: 50px;
        text-align: justify;
        overflow-x: hidden;
        background-color: rgba(244, 246, 247, 0);
        box-shadow: none;
    }

    .txtartistas h2 {
        text-align: left;
    }

    .txtartistas p {
        letter-spacing: 0.7px;
    }


}