* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(243, 243, 242);
}

/*Comienzo Arreglar Header*/

header {
  backdrop-filter: blur(8px);
}

#centrarlogotipo {
  filter: invert();
}

#submenuitem {
  color: rgb(41, 41, 43);
}

header .redes_sociales1 p,
header .redes_sociales1 #ico-gmail,
header .redes_sociales1 .icofont-ui-call {
  color: rgb(41, 41, 43);
}

header .linea-1,
header .linea-3 {
  background-color: rgb(41, 41, 43);
}

/*Fin Arreglar Header*/

/*Inicio texto modo dispositivo*/
.contenedor_architecture {
  margin-bottom: 100px;
}

.texto_incio_achitecture {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin-top: 170px;
  margin-bottom: 40px;
}

.txt_inicio_architecture {
  width: 85%;
}

.txt_inicio_architecture h2 {
  color: rgb(32, 32, 32);
  font-family: Laika;
  font-size: 50px;
  line-height: 50px;
}

.txt_inicio_architecture p {
  color: rgb(138, 140, 141);
  font-family: NewQueen;
  font-size: 16px;
  padding-left: 10px;
  padding-top: 3px;
  margin-bottom: 60px;
}

/*Fin texto modo dispositivo*/

/*Inicio banner modo dispositivo*/

.banner_architecture {
  margin: auto;
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
}

.img_banner_architecture {
  width: 100%;
  height: auto;
}

.imagen_banner_architecture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: 100%;
  max-height: 60vh;
}

.img_banner_architecture img {
  width: 100%;
  height: auto;
  max-height: 60vh;
  object-fit: cover;
  border-radius: 25px;
}

.texto_banner_achitecture {
  position: absolute;
  width: 300px;
  height: auto;
  bottom: 10%;
  right: 20px;
  color: white;
  text-align: right;
}

.txt_banner_architecture h2 {
  position: absolute;
  bottom: 25px;
  right: 5px;
  width: 200px;
  font-family: Laika;
  letter-spacing: 1px;
  font-size: 30px;
  padding-right: 5px;
  background-color: rgb(236, 179, 126);
}

.txt_banner_architecture p {
  font-family: NewQueen;
  letter-spacing: 0.8px;
  font-size: 16px;
  padding-top: 4px;
  padding-left: 10px;
}

/*Fin banner modo dispositivo*/

/*Inicio imagenen modo dispositivo*/

.imagen_architecture {
  margin: auto;
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 100px;
}

.img__architecture {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 50px;
}

.img__architecture img {
  width: 95%;
  height: auto;
  object-fit: cover;
  border-radius: 25px;
}

#imagen_architecture {
  padding-bottom: 15px;
}

.texto_achitecture {
  height: 100%;
  width: 95%;
  text-align: left;
  padding-bottom: 50px;
  padding-left: 10px;
  padding-right: 15px;
  max-width: 600px;
  text-align: center;
}

.texto_achitecture h2 {
  color: rgb(32, 32, 32);
  font-family: Laika;
  font-size: 50px;
  line-height: 50px;
  padding-top: 15px;
}

.texto_achitecture p {
  color: rgb(92, 93, 94);
  font-family: NewQueen;
  letter-spacing: 1.3px;
  font-size: 16px;
  padding-top: 3px;
}

.txt_architecture #txt_achitecture_p {
  padding-bottom: 30px;
  font-size: 14px;
  color: rgb(153, 154, 155);
  padding-left: 10px;
}

.grid_imagen_architecture {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
}

.grid_imagen_architecture img {
  height: 100%;
  max-height: 800px;
  width: 95%;
  object-fit: cover;
  border-radius: 0px;
}

#imagen_architecture_cuatro .texto_achitecture {
  text-align: center;
  width: 100%;
  max-width: 600px;
}

/*Fin Imagen modo dispositivo*/

/*Arreglo slider modo dispositivo*/

.contenedor_slider_index {
  width: 95%;
  max-height: 65vh;
  margin-top: 50px;
  overflow: hidden;
}

.slider_index {
  height: 65vh;
}

.slider_section_index {
  width: 95%;
}

.slider_index img {
  width: 100%;
  height: 65vh;
  border-radius: 25px;
}

.slider_btn_prev_index,
.slider_btn_next_index {
  display: none;
}

/*Texto*/
.txtslider_index {
  position: absolute;
  text-align: left;
  bottom: 15px;
  left: 0px;
  padding: 25px;
}

.txtslider_index h2 {
  width: 200px;
  font-size: 30px;
  margin-bottom: 10px;
  line-height: 30px;
  color: #fff;
  font-family: Laika;
  padding-left: 6px;
  background-color: rgba(226, 91, 91, 0.568);
}

.txtslider_index p {
  width: 230px;
  margin-top: 0;
  padding: 0;
  color: white;
  font-family: NewQueen;
  font-size: 16px;
}

.contenedor_slider_index .dots {
  bottom: 0px;
  left: 90%;
  width: 10%;
  height: 40%;
  flex-direction: column;
}

.contenedor_slider_index .dots li {
  background-color: #fffefe8f;
  width: 15px;
  height: 15px;
  margin-bottom: -8px;
}

.contenedor_slider_index .dots li.active {
  width: 15px;
  background-color: rgba(155, 154, 154, 0.596);
  position: relative;
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
}

.contenedor_slider_index .dots li.active::before {
  animation: none;
}

/*Fin slider modo dispositivo*/

/*Modo dispositivo muy pequeño*/
@media (max-width: 315px) {
  .contenedor_architecture {
    min-width: 270px;
  }

  .txt_inicio_architecture h2,
  .texto_achitecture h2 {
    font-size: 40px;
  }

  .texto_banner_achitecture {
    right: 10px;
  }

  .txt_banner_architecture h2 {
    font-size: 20px;
  }

  .txtslider_index {
    padding-left: 8px;
  }

  .txtslider_index h2 {
    font-size: 20px;
  }

  .txtslider_index p {
    width: 200px;
    font-size: 14px;
  }

}

/*Comienzo Banner modo pc*/

@media (min-width: 1400px) {
  .contenedor_architecture {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1080px) {
  /*Inicio texto modo pc*/
  .texto_incio_achitecture {
    max-width: 1700px;
    margin: auto;
    margin-top: 250px;
    margin-bottom: 90px;
  }

  .txt_inicio_architecture {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  /*Fin texto modo pc*/

  /*Inicio banner modo dispositivo*/

  /*Inicio banner modo dispositivo*/

  .banner_architecture {
    position: static;
    display: block;
  }

  .img_banner_architecture {
    width: 80%;
    height: 100vh;
    max-height: 800px;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
  }

  .imagen_banner_architecture {
    width: 60%;
    height: 100%;
    max-height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
  }

  .img_banner_architecture img {
    right: 0;
    height: 100%;
    max-height: 100%;
    width: auto;
    margin-right: 0;
  }

  .texto_banner_achitecture {
    position: static;
    display: flex;
    justify-content: left;
    width: 50%;
    text-align: center;
    color: rgb(43, 44, 44);
    padding-left: 70px;
    padding-top: 130px;
  }

  .txt_banner_architecture h2 {
    position: static;
    width: 100%;
    font-size: 60px;
    background-color: rgba(236, 179, 126, 0);
  }

  .txt_banner_architecture p {
    font-size: 18px;
  }

  /*Fin banner modo dispositivo*/

  /*Inicio imagenen modo dispositivo*/

  .img__architecture {
    margin: auto;
    width: 100%;
    max-height: auto;
    position: relative;
    margin: auto;
    flex-direction: row;
    width: 80%;
    max-height: 900px;
    margin-top: 150px;
    margin-bottom: 150px;
  }

  .img__architecture img {
    width: 70%;
    height: auto;
    max-height: 800px;
  }

  #imagen_architecture {
    padding-bottom: 15px;
  }

  .texto_achitecture {
    height: 100%;
    width: 95%;
    text-align: left;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 15px;
  }

  #imagen_architecture_tres {
    flex-direction: row-reverse;
  }

  #imagen_architecture_tres .texto_achitecture {
    padding-left: 100px;
  }

  #imagen_architecture_cuatro {
    flex-direction: column;
    max-height: 100%;
  }

  .grid_imagen_architecture {
    flex-direction: row;
    gap: 20px;
  }

  .grid_imagen_architecture img {
    height: 100%;
    width: auto;
  }

  #imagen_architecture_cuatro .texto_achitecture {
    width: 700px;
  }

  /*Fin Imagen modo dispositivo*/



  /*Arreglo slider modo dispositivo*/

.contenedor_slider_index {
    width: 50%;
    max-height: 900px;
    margin-top: 50px;
    overflow-y: hidden;
  }
  
  .slider_index {
    height: 85vh;
    max-height: 900px;
  }
  
  
  .slider_index img {
    height: 85vh;
    max-height: 900px;
  }
  
  /*Texto*/
  .txtslider_index {
    position: absolute;
    text-align: left;
    bottom: 15px;
    left: 0px;
    padding: 25px;
    
  }
  
  .txtslider_index h2 {
    width: 320px;
    font-size: 50px;
    line-height: 50px;
  }
  
  .contenedor_slider_index .dots {
    bottom: -50px;
    left: 93%;
    width: 10%;
    height: 40%;
    flex-direction: column;
  
  }

  /*Fin slider modo dispositivo*/

}

/*Fin banner modo pc*/
