* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(232, 236, 235);
}

/*Comienzo Arreglar Header*/

header {
    background: rgba(255, 255, 255, 0.788);
    backdrop-filter: blur(8px);
}


#centrarlogotipo{
    filter: invert();
}

#submenuitem{
    color: rgb(41, 41, 43);
}

header .redes_sociales1 p,
header .redes_sociales1 #ico-gmail,
header .redes_sociales1 .icofont-ui-call{
    color: rgb(41, 41, 43);
}

header .linea-1,
header .linea-3 {
    background-color: rgb(41, 41, 43);
}

/*Fin Arreglar Header*/

/*Comienzo contacto modo dispositivo*/

/*Texto contacto y mapa modo celular*/
.contacto{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacto .gridcontacto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
  }
  
  .contacto .gridcontacto .centrarcontacto {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  
  .contacto .gridcontacto .centrarcontacto .textocontacto {
    text-align: justify;
    width: 94%;
    max-width: 500px;
    border-radius: 35px;
    color: rgb(52, 53, 54);
    margin: 3%;
    padding-top: 4%;
    padding-bottom: 8%;
  }
  
  .textocontacto h1 {
    font-family: Laika;
    font-size: 30px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    padding-top: 30px;
  }
  
  .textocontacto a {
    font-family: NewQueen;
    font-size: 15px;
    text-decoration: none;
    color: rgb(67, 67, 67);
  }
  
  .textocontacto p {
    margin-top: 10px;
    text-align: center;
    padding-top: 10px;
    font-size: 16px;
    line-height: 1.4;
  }

  /*Fin contacto modo dispositivo*/
  
  /*Texto y mapa modo pc*/
  @media (max-width: 315px) {
    .contacto {
      min-width: 270px;
    }
    .contacto .gridcontacto .centrarcontacto .textocontacto {
      width: 100%;
    }
    .textocontacto a {
      font-size: 12px;
    }
  }
  
  @media screen and (min-width: 1050px) {
  
    .contacto .gridcontacto .centrarcontacto .textocontacto {
      margin: 0;
      width: 280px;
      box-shadow: none;
    }

    .textocontacto #whatsuno{
        font-size: 15px;
    }

  }

