body.noscroll2 {
  overflow: hidden;
}

/*Fotos editoriales modo dispositivo*/

/*Comienzo de banner*/
#imgfija_cont2_editorial,
#imggrid_2_editorial {
  display: block;
}

#imgfija_cont2_grande_editorial,
#imggrid_2_grande_editorial {
  display: none;
}

.contenedorporfolio_editorial .bannerfijo_editorial {
  background-image: url(../images/editorial/editorial1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100vh  cover;
  background-position-x: 49%;
}

.degradadobanner2_editorial {
  width: 100%;
  max-width: 1920px;
  height: 100vh;
  background: black;
  position: absolute;
  z-index: -90;
}

.degradadobanner_editorial {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
}

.txtbanner_editorial {
  height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 13vh;
}

.txtbanner_editorial .conttxtbanner_editorial {
  margin-top: 30vh;
}

.txtbanner_editorial .conttxtbanner_editorial,
.txtbanner2_editorial .conttxtbanner2_editorial {
  width: 300px;
  text-align: center;
  color: white;
}

.txtbanner_editorial .conttxtbanner_editorial h2,
.txtbanner2_editorial .conttxtbanner2_editorial h2,
.cont_txt_imgfija1_editorial h2,
.txtwhiteback_editorial h2 {
  font-size: 40px;
  font-family: Laika;
  text-shadow: 3px 3px 4px rgba(27, 27, 27, 0.2);
  padding-bottom: 15px;
}

.txtbanner_editorial .conttxtbanner_editorial p,
.txtbanner2_editorial .conttxtbanner2_editorial p,
.cont_txt_imgfija1_editorial p,
.txtwhiteback_editorial p {
  font-family: NewQueen;
  letter-spacing: 0.7px;
  font-size: 14px;
  line-height: 1.4;
}

.txtbanner2_editorial {
  padding-top: 350px;
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.txtbanner2_editorial .conttxtbanner2_editorial {
  margin-top: -80vh;
}

/*Fin del banner*/

/*Comienzo White background*/
.whitebackground_editorial {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.whitebackground_editorial .imgwhiteback_editorial {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: -30vh;
  z-index: 2;
}

.whitebackground_editorial .imgwhiteback_editorial img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  max-height: 650px;
}

.whitebackground_editorial .txtwhiteback_editorial {
  width: 90%;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.txtwhiteback_editorial h2 {
  text-shadow: none;
  padding-bottom: 10px;
  color: rgb(141, 209, 223);
  background: url(../images/degradados/degradado-azul.jpg);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*Fin White background*/

/*Comienzo grid fotos 1*/

.gridfotos1_editorial #img_gridfotos1_editorial {
  padding-top: 0;
}

.gridfotos1_editorial img {
  width: 100%;
  padding-top: 0;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

/*Fin grid fotos 1*/

/*Comienzo imagen fija 1*/

.contenedor_imagenfija_1_editorial {
  background-color: rgb(29, 29, 29);
  margin-bottom: -15px;
}

.contenedor_imagenfija_1_editorial #img_fija_1_editorial,
.contenedor_imagenfija_2_editorial #imgfija_cont2_editorial {
  width: 100%;
  position: sticky;
  top: 45px;
  z-index: -0;
  padding-bottom: 30px;
}

.grid_cont_imgfija_1_editorial,
.grid_cont_imgfija_2_editorial {
  position: relative;
  width: 100%;
  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.774),
      rgba(0, 0, 0, 0.932),
      black);
}

.grid_cont_imgfija_1_editorial #img_fija_3_editorial,
.grid_cont_imgfija_2_editorial #img2_gridfijo2_editorial {
  margin-top: 30px;
}

.grid_cont_imgfija_1_editorial #img_fija_2_editorial,
#img_fija_3_editorial,
.grid_cont_imgfija_2_editorial #img1_gridfijo2_editorial,
#img2_gridfijo2_editorial {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-radius: 20px;
}

.cont_txt_imgfija1_editorial {
  color: white;
  background-color: black;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
}

#txt_imgfija_1_editorial h2 {
  color: rgb(205, 224, 213);
  background: url(../images/degradados/degradado-dorado.jpg);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


/*Fin imagen fija 1*/

/*Comienzo grid scroll fotos 2*/
#imggrid_2_editorial {
  width: 100%;
}

.carrusel_scroll {
  background-color: rgb(255, 255, 255);
  height: 580px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  width: 96, 5vw;
}

.cont_carrusel_scroll {
  width: 100%;
  display: flex;
  overflow: scroll;
  overflow-y: hidden;
  list-style: none;
}

.cont_carrusel_scroll_1 {
  display: flex;
}

.cont_carrusel_scroll h2 {
  color: rgb(199, 199, 199);
  font-size: 0.9em;
  font-weight: 400;
  letter-spacing: 1px;
  position: absolute;
  height: 30px;
  margin-left: 20px;
  margin-top: 10px;
}

.cont_carrusel_scroll::-webkit-scrollbar {
  height: 6px;
  background-color: rgb(172, 172, 172);
  border-radius: 15px;
}

.cont_carrusel_scroll::-webkit-scrollbar-thumb {
  background-color: rgb(37, 51, 114);
  border-radius: 15px;
}

.cont_carrusel_scroll_1 img {
  padding-top: 50px;
  max-width: 470px;
  height: 530px;
  object-fit: cover;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  cursor: pointer;
}

/*Comienzo Lightbox*/

#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.925);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

#contenedor-lightbox {
  width: 100%;
  padding: 2px;
  position: relative;
  display: flex;
  justify-content: center;
}

#contenedor-lightbox img {
  width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
  color: #f3f3f3;
}

#btn-cierra,
#btn-retrocede,
#btn-adelanta {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: absolute;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.295);
  color: black;
  border-radius: 50px;
  font-size: 1.7rem;
  top: 50%;
  right: 10px;
  z-index: 101;
}

#btn-cierra {
  top: 10px;
}

#btn-retrocede {
  left: 10px;
}

.slider {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 15px;
  list-style: none;
}

.slider input[type="radio"] {
  display: none;
}

.slider input[type="radio"]+label {
  position: relative;
  z-index: 50;
  margin: 10px;
  display: block;
  width: 40px;
  height: 4px;
  background: rgba(255, 255, 255, 0.295);
  cursor: pointer;
  border-radius: 20px;
}

.slider input[type="radio"]:checked+label {
  background: rgb(27, 179, 133);
}

/*Fin Lightbox*/

/*Fin grid fotos 2*/

/*Comienzo imagen fija 2*/
.contenedor_imagenfija_2_editorial {
  background-color: rgb(4, 5, 20);
  padding-bottom: 50px;
}

.grid_cont_imgfija_2_editorial #img1_gridfijo2_editorial,
#img2_gridfijo2_editorial {
  border-radius: 0;
}

.grid_cont_imgfija_2_editorial .imgfinal_gridfijo2_editorial {
  padding-bottom: 100px;
}

/*Fin imagen fija 2*/

/*Contenedor modo pc*/

@media (max-width: 315px) {
  .contenedorporfolio_editorial {
    min-width: 270px;
  }

  .txtbanner_editorial .conttxtbanner_editorial,
  .txtbanner2_editorial .conttxtbanner2_editorial {
    width: 250px;
  }

  .txtbanner_editorial .conttxtbanner_editorial p,
  .txtbanner2_editorial .conttxtbanner2_editorial p,
  .cont_txt_imgfija1_editorial p,
  .txtwhiteback_editorial p {
    font-family: NewQueen;
    letter-spacing: 0.7px;
    font-size: 11px;
    line-height: 1.4;
  }
}

@media (min-width: 1400px) {
  .contenedorporfolio_editorial {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 660px) {

  /*Comienzo del banner*/
  #imgfija_cont2_editorial,
  #imggrid_2_editorial {
    display: none;
  }

  .contenedorporfolio_editorial .bannerfijo_editorial {
    background-image: url(../images/editorial/editorial-1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-y: 10%;
  }

  .txtbanner_editorial .conttxtbanner_editorial h2,
  .txtbanner2_editorial .conttxtbanner2_editorial h2,
  .txtwhiteback_editorial h2,
  .cont_txt_imgfija1_editorial h2 {
    margin-bottom: 1%;
    font-size: 50px;
    letter-spacing: 0.8px;
  }

  .txtbanner_editorial .conttxtbanner_editorial p,
  .txtbanner2_editorial .conttxtbanner2_editorial p,
  .txtwhiteback_editorial p,
  .cont_txt_imgfija1_editorial p {
    font-size: 16px;
    letter-spacing: 0.8px;
  }

  .txtbanner_editorial .conttxtbanner_editorial {
    width: 600px;
  }

  .txtbanner2_editorial .conttxtbanner2_editorial {
    width: 400px;
  }

  /*Fin del banner*/

  /*Comienzo white background*/
  .whitebackground_editorial .txtwhiteback_editorial {
    width: 560px;
  }

  .txtwhiteback_editorial h2 {
    margin-bottom: 2px;
  }

  .whitebackground_editorial .imgwhiteback_editorial img {
    width: 500px;
    max-height: 1000px;
  }

  /*Fin white background*/

  /*Comienzo grid editorial 1*/
  .gridfotos1_editorial {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }

  .gridfotos1_editorial img {
    width: 100%;
    max-width: 500px;
    margin: 50px;
    margin-top: 10px;
    margin-bottom: 30px;
  }

  /*Fin grid editorial 1*/

  /*Comienzo imagen fija 1*/

  .contenedor_imagenfija_1_editorial {
    padding-top: 50px;
  }

  .contenedor_imagenfija_1_editorial #img_fija_1_editorial,
  .contenedor_imagenfija_2_editorial #imgfija_cont2_grande_editorial {
    display: block;
    margin-right: auto;
    margin-left: auto;
    top: 75px;
    width: 30%;
    border-radius: 30px;
    padding-bottom: 20px;
  }

  .contenedor_imagenfija_1_editorial #img_fija_1_editorial {
    width: 100%;
    height: 92vh;
    object-fit: contain;
  }

  .grid_cont_imgfija_1_editorial,
  .grid_cont_imgfija_2_editorial {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 140px;
    background: linear-gradient(to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.315),
        rgba(0, 0, 0, 0.822),
        black);
    backdrop-filter: blur(1.5px);
  }

  .grid_cont_imgfija_1_editorial #img_fija_2_editorial,
  #img_fija_3_editorial,
  .grid_cont_imgfija_2_editorial #img1_gridfijo2_editorial,
  #img2_gridfijo2_editorial {
    width: 100%;
    max-width: 500px;
    margin: 50px;
  }

  .grid_cont_imgfija_1_editorial #img_fija_3_editorial {
    margin-bottom: 50px;
  }

  .cont_txt_imgfija1_editorial h2,
  .cont_txt_imgfija1_editorial p {
    justify-self: center;
    align-self: center;
    margin-bottom: -2%;
  }

  .txt_imgfija_1_editorial {
    width: 450px;
    text-align: center;
    align-self: center;
    justify-self: center;
    margin-bottom: 50px;
  }

  /*Fin imagen fija 1*/

  /*Comienzo grid scroll fotos 2*/

  #imggrid_2_grande_editorial {
    display: block;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    margin-bottom: 60px;
  }

  .carrusel_scroll {
    height: 700px;
    padding-bottom: 50px;
    margin-left: 50px;
  }

  .cont_carrusel_scroll h2 {
    margin-top: -50px;
  }

  .cont_carrusel_scroll img {
    width: 500px;
    height: 600px;
    padding-top: 0;
  }

  /*Comienzo Ligthbox*/
  #btn-cierra:hover,
  #btn-retrocede:hover,
  #btn-adelanta:hover {
    background-color: rgb(206, 206, 206);
    color: rgb(48, 48, 48);
  }

  #contenedor-lightbox img {
    width: auto;
    height: 100vh;
  }

  .slider input[type="radio"]+label {
    margin: 15px;
    width: 70px;
  }

  /*Fin Lightbox*/
  /*Fin grid fotos 2*/

  /*Comienzo imagen fija 2*/

  .contenedor_imagenfija_2_editorial {
    margin-bottom: -3px;
  }

  .contenedor_imagenfija_2_editorial #imgfija_cont2_grande_editorial {
    position: sticky;
    top: 55px;
    width: 100%;
    height: 100vh;
    border-radius: 0;
    object-fit: cover;
  }

  .grid_cont_imgfija_2_editorial {
    padding-bottom: 180px;
  }

  .grid_cont_imgfija_2_editorial #img1_gridfijo2_editorial {
    padding-right: 40px;
  }

  /*Fin imagen fija 2*/
}

/*Banner después de 1420px de resulución de pantalla*/

@media screen and (min-width: 1420px) {
  .contenedorporfolio_editorial .bannerfijo_editorial {
    background-image: url(../images/editorial/editorial-1.jpg);
    background-size: cover;
  }
}