@import url(menu.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Banner inicio modo dispositivo*/
.contenedorporfolio .bannerfijo {
    background-color: black;
    background-image: url(../images/inicio/banner1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vh cover;
    background-position-x: 50%;
    background-position-y: 40%;
}

.degradadobanner {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
}

.txtbanner {
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50vh;
}

.txtbanner .conttxtbanner {
    margin-top: 85vh;
    position: absolute;
    left: 30px;
    width: 71%;
    text-align: left;
    color: white;
}

.txtbanner .conttxtbanner p {
    text-align: justify;
}

.txtbanner2 .conttxtbanner2 {
    position: absolute;
    right: 25px;
    width: 250px;
    text-align: right;
    color: white;
    margin-top: -80vh;
}

.txtbanner .conttxtbanner h2,
.txtbanner2 .conttxtbanner2 h2,
.cont_txt_imgfija1 h2,
.txtwhiteback h2 {
    font-size: 40px;
    font-family: Laika;
    letter-spacing: 2px;
    text-shadow: 3px 3px 4px rgba(27, 27, 27, 0.2);
    padding-bottom: 15px;
}

.txtbanner .conttxtbanner p,
.txtbanner2 .conttxtbanner2 p,
.cont_txt_imgfija1 p,
.txtwhiteback p {
    font-family: NewQueen;
    letter-spacing: 0.7px;
    font-size: 14px;
    line-height: 1.4;
}

.txtbanner2 {
    padding-top: 350px;
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

/*Fin Banner inicio*/

/*Banner 2 con grid de 2 imágenes modo dispositivo*/
.contenedor_imagenfija_1 {
    background-color: black;
    margin-bottom: -15px;
    background-image: url(../images/inicio/banner2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vh cover;
    background-position-x: 70%;
    background-position-y: 80%;
}

.degradado_imagenfija_1 {
    position: relative;
    width: 100%;
    height: 150vh;
    background: linear-gradient(to top,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.315),
            rgba(0, 0, 0, 0.822),
            black);
}

.grid_cont_imgfija_1 {
    position: relative;
    width: 100%;
    padding-top: 100px;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.315),
            rgba(0, 0, 0, 0.822),
            black);
    backdrop-filter: blur(1.5px);
    padding-bottom: 30px;
}

.grid_cont_imgfija_1 #img_fija_2,
#img_fija_3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 97%;
    border-radius: 20px;
}

.grid_cont_imgfija_1 #img_fija_2 {
    margin-bottom: 20px;
}

.cont_txt_imgfija1 {
    margin: auto;
    width: 300px;
    color: white;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20vh;
}

#txt_imgfija_1 h2 {
    text-align: center;
    font-size: 40px;
    font-family: Laika;
    letter-spacing: 2px;
    text-shadow: 3px 3px 4px rgba(27, 27, 27, 0.2);
    color: rgb(205, 224, 213);
    background: url(../images/degradados/degradado-verde.jpg);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#txt_imgfija_1 p {
    text-align: center;
    font-family: NewQueen;
    letter-spacing: 0.7px;
    font-size: 14px;
    line-height: 1.4;
}

.contenedor_txt_imagenfija_1 {
    display: flex;
    height: 250px;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
}

.contenedor_txt_imagenfija_1 .txt_imagenfija_1 {
    text-align: center;
    width: 300px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: -60px;
}

.contenedor_txt_imagenfija_1 .txt_imagenfija_1 h2 {
    font-size: 40px;
    font-family: Laika;
    letter-spacing: 2px;
    text-shadow: 3px 3px 4px rgba(27, 27, 27, 0.2);
    color: rgb(205, 224, 213);
    background: url(../images/degradados/degradado-azul.jpg);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 8%;
}

.contenedor_txt_imagenfija_1 .txt_imagenfija_1 p {
    margin-top: 0;
    margin-bottom: 9%;
    padding: 0;
    color: rgb(255, 255, 255);
    font-family: NewQueen;
    letter-spacing: 0.7px;
    font-size: 14px;
    line-height: 1.4;
    text-shadow: 3px 3px 4px rgba(27, 27, 27, 0.2);
}

/*Fin imagen 2 modo dispositivo*/

/*Comienzo imagen fija 2 modo dispositivo*/
.contenedor_imagenfija_2 {
    background-color: black;
    height: 100vh;
    background-image: url(../images/inicio/banner5.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-x: 5%;
}

/*Fin imagen fija 2 modo dispositivo*/

/*Comienzo Banner 3 inicio modo dispositivo*/

.contenedorporfolio .bannerfijo3 {
    background-image: url(../images/inicio/banner6.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vh cover;
    background-position-x: 50%;
    background-position-y: 40%;
}

.txtbanner3 {
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50vh;
}

.txtbanner3 .conttxtbanner3 {
    margin-top: 85vh;
    position: absolute;
    right: 25px;
    width: 71%;
    text-align: right;
    color: white;
}

.txtbanner3 .conttxtbanner3 p {
    text-align: justify;
}

.txtbanner4 .conttxtbanner4 {
    position: absolute;
    left: 30px;
    width: 250px;
    text-align: left;
    color: white;
    margin-top: -80vh;
}

.txtbanner3 .conttxtbanner3 h2,
.txtbanner4 .conttxtbanner4 h2 {
    font-size: 40px;
    font-family: Laika;
    letter-spacing: 2px;
    text-shadow: 3px 3px 4px rgba(27, 27, 27, 0.2);
    padding-bottom: 15px;
}

.txtbanner3 .conttxtbanner3 p,
.txtbanner4 .conttxtbanner4 p {
    font-family: NewQueen;
    letter-spacing: 0.7px;
    font-size: 14px;
    line-height: 1.4;
}

.txtbanner4 {
    padding-top: 350px;
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

/*FinBanner 3 inicio modo dispositivo*/

/*Banner 4 con grid de 2 imágenes modo dispositivo*/
.contenedor_imagenfija_3 {
    margin-bottom: -15px;
    background-image: url(../images/inicio/banner7.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vh cover;
    background-position-x: 47%;
    background-position-y: 80%;
}

.degradado_imagenfija_3 {
    position: relative;
    width: 100%;
    height: 150vh;
    background: linear-gradient(to top,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.315),
            rgba(0, 0, 0, 0.822),
            black);
}

.grid_cont_imgfija_3 {
    position: relative;
    width: 100%;
    padding-top: 100px;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.315),
            rgba(0, 0, 0, 0.822),
            black);
    backdrop-filter: blur(1.5px);
    padding-bottom: 30px;
}

.grid_cont_imgfija_3 #img_fija_2 {
    margin-top: 30px;
    margin-bottom: 20px;
}

.grid_cont_imgfija_3 #img_fija_2,
#img_fija_4 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-radius: 20px;
}

.cont_txt_imgfija3 {
    width: 300px;
    margin: auto;
    color: white;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20vh;
}

#txt_imgfija_3 h2 {
    text-align: center;
    font-size: 40px;
    font-family: Laika;
    letter-spacing: 2px;
    text-shadow: 3px 3px 4px rgba(27, 27, 27, 0.2);
    color: rgb(205, 224, 213);
    background: url(../images/degradados/degradado-rosado.jpg);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#txt_imgfija_3 p {
    text-align: center;
    font-family: NewQueen;
    letter-spacing: 0.7px;
    font-size: 14px;
    line-height: 1.4;
    margin-top: 20px;
}

/*Fin imagen 4 modo dispositivo*/

/*Comienzo imagen fija 5 modo dispositivo*/
.contenedor_imagenfija_5 {
    height: 100vh;
    background-image: url(../images/inicio/banner10.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-x: 50%;
}

/*Fin imagen fija 5 modo dispositivo*/

/*Banner modo dispositivo pequeños*/

@media (max-width: 320px) {

    .contenedorporfolio,
    .contenedor_imagenfija_1,
    .cont_txt_imgfija1,
    .contenedor_imagenfija_2,
    .contenedor_imagenfija_3,
    .contenedor_imagenfija_5 {
        min-width: 270px;
    }

    .cont_txt_imgfija3,
    .cont_txt_imgfija1 {
        height: 350px;
    }

    .contenedor_txt_imagenfija_1 .txt_imagenfija_1,
    .cont_txt_imgfija1 {
        width: 270px;
    }

    .cont_txt_imgfija3 {
        min-width: 270px;
        max-width: 270px;
    }

    .txtbanner .conttxtbanner p,
    .txtbanner3 .conttxtbanner3 p {
        text-align: left;
    }

    .txtbanner2 .conttxtbanner2 h2,
    .txtbanner4 .conttxtbanner4 h2,
    .bannerfijo3 .conttxtbanner3 h2,
    #txt_imgfija_3 h2, .contenedor_txt_imagenfija_1 .txt_imagenfija_1 h2, #txt_imgfija_1 h2  {
        font-size: 30px;
    }

}

@media (min-width: 1400px) {
    .txtbanner {
        max-width: 1920px;
        margin-left: auto;
        margin-right: auto;
    }

    .txtbanner3 {
        max-width: 1920px;
        margin-left: auto;
        margin-right: auto;
    }

}

/*Slider modo pc*/
@media screen and (min-width: 660px) {

    /*Comienzo del banner*/
    .contenedorporfolio .bannerfijo {
        background-image: url(../images/inicio/banner_1.jpg);
        background-size: cover;
        background-position-y: 40%;
        background-position-x: 40%;
    }

    .txtbanner .conttxtbanner {
        position: relative;
        margin-top: 75vh;
        left: -18%;
        width: 40%;
    }

    .txtbanner2 .conttxtbanner2 {
        position: relative;
        text-align: center;
        width: 470px;
        right: 0px;
    }

    .txtbanner .conttxtbanner h2,
    .txtbanner2 .conttxtbanner2 h2,
    .txtwhiteback h2,
    .cont_txt_imgfija1 h2 {
        margin-bottom: 1%;
        font-size: 50px;
        letter-spacing: 0.8px;
    }

    .txtbanner .conttxtbanner p,
    .txtbanner2 .conttxtbanner2 p,
    .txtwhiteback p,
    .cont_txt_imgfija1 p {
        font-size: 16px;
        letter-spacing: 0.8px;
    }

    /*Fin del Banner*/

    /*Banner 2 con grid de 2 imágenes modo pc*/

    .contenedor_imagenfija_1 {
        background-image: url(../images/inicio/banner_2.jpg);
        background-size: cover;
        background-position-y: 40%;
        background-position-x: 40%;
    }

    .degradado_imagenfija_1 {
        height: 210vh;
    }

    .grid_cont_imgfija_1 {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 140px;
        gap: 50px;
    }

    .grid_cont_imgfija_1 #img_fija_2,
    #img_fija_3 {
        width: 80%;
        height: auto;
        border-radius: 40px;
    }

    .cont_txt_imgfija1 h2,
    .cont_txt_imgfija1 p {
        justify-self: center;
        align-self: center;
        margin-bottom: -2%;
    }

    .txt_imgfija_1 {
        width: 350px;
        align-self: center;
        justify-self: center;
        margin-bottom: 50px;
    }

    #txt_imgfija_1 h2 {
        font-size: 50px;
        letter-spacing: 0.8px;
    }

    #txt_imgfija_1 p {
        font-size: 16px;
    }

    .contenedor_txt_imagenfija_1 {
        height: 300px;
    }

    .contenedor_txt_imagenfija_1 .txt_imagenfija_1 h2 {
        font-size: 50px;
        margin-bottom: 3%;
        letter-spacing: 0.8px;
    }

    .contenedor_txt_imagenfija_1 .txt_imagenfija_1 p {
        font-size: 16px;
        margin-bottom: 3%;
        letter-spacing: 0.8px;
    }

    /*Banner 2 con grid de 2 imágenes modo pc*/

    /*Comienzo imagen fija 2 modo dispositivo*/

    .contenedor_imagenfija_2 {
        background-image: url(../images/inicio/banner_5.JPG);
        background-position-y: 40%;  
    }

    /*Fin imagen fija 2 modo dispositivo*/

    /*Comienzo del banner 3*/
    .contenedorporfolio .bannerfijo3 {
        background-image: url(../images/inicio/banner_6.jpg);
        background-size: cover;
        background-position-y: 40%;
        background-position-x: 40%;
    }

    .txtbanner3 .conttxtbanner3 {
        position: relative;
        margin-top: 75vh;
        left: 40%;
        /* Ajusta el left para centrar el contenido */
        width: 30%;
        transform: translateX(-50%);
        /* Centra el contenido */
        text-align: right;
    }

    .txtbanner4 .conttxtbanner4 {
        position: relative;
        text-align: left;
        width: 470px;
        left: -18%;
    }

    .txtbanner3 .conttxtbanner3 h2,
    .txtbanner4 .conttxtbanner4 h2 {
        margin-bottom: 1%;
        font-size: 50px;
        letter-spacing: 0.8px;
    }

    .txtbanner3 .conttxtbanner3 p,
    .txtbanner4 .conttxtbanner4 p {
        font-size: 16px;
        letter-spacing: 0.8px;
    }

    /*Fin del Banner 3*/


    /*Banner 4 con grid de 2 imágenes modo pc*/

    .contenedor_imagenfija_3 {
        background-image: url(../images/inicio/banner_7.jpg);
        background-size: cover;
        background-position-y: 40%;
        background-position-x: 40%;
    }

    .degradado_imagenfija_3 {
        height: 210vh;
    }

    .grid_cont_imgfija_3 {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 140px;
        gap: 50px;
        padding-bottom: 70px;
    }

    .grid_cont_imgfija_3 #img_fija_2,
    #img_fija_4 {
        width: 80%;
        height: auto;
        border-radius: 40px;
    }

    .cont_txt_imgfija3 h2,
    .cont_txt_imgfija3 p {
        justify-self: center;
        align-self: center;
        margin-bottom: -2%;
    }

    .txt_imgfija_3 {
        width: 350px;
        text-align: center;
        align-self: center;
        justify-self: center;
        margin-bottom: 50px;
    }

    #txt_imgfija_3 h2 {
        font-size: 50px;
        letter-spacing: 0.8px;
    }

    #txt_imgfija_3 p {
        font-size: 16px;
    }

    /*Banner 4 con grid de 2 imágenes modo pc*/

    /*Comienzo imagen fija 5 modo dispositivo*/

    .contenedor_imagenfija_5 {
        background-image: url(../images/inicio/banner_10.jpg);
        background-position-y: 40%;
    }

    /*Fin imagen fija 5 modo dispositivo*/
}