body.noscroll {
    overflow: scroll;
}

/*Posición botón menú*/
.btn_menu {
    float: right;
    font-size: 30px;
    margin: 0px 30px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    display: none;
}

/*Animación boton menu*/
.contenedormenu {
    position: absolute;
    width: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s ease-out;
    z-index: 100;
    right: 20px;
}

.linea-1,
.linea-2,
.linea-3 {
    height: 2px;
    background-color: rgb(255, 255, 255);
    margin: 1.3px 0px;
    transition: 0.2s ease-out;
    border-radius: 15px;
}

.linea-1 {
    width: 120%;
}

.linea-2 {
    opacity: 0;
}

.linea-3 {
    width: 120%;
}

.change .linea-1 {
    width: 100%;
    transform: rotateZ(45deg);
    position: absolute;
    background-color: rgb(41, 41, 43);
}

.change .linea-3 {
    width: 100%;
    transform: rotateZ(-45deg);
    position: absolute;
    background-color: rgb(41, 41, 43);
}

header.headerscroll .linea-3 {
    background-color: rgb(41, 41, 43);
}

header.headerscroll .linea-1 {
    background-color: rgb(41, 41, 43);
}

/*Fin animación menú*/

.menu {
    display: flex;
    list-style: none;
    float: left;
    height: 53px;
    margin-left: 120px;
}

.menu .submenuitem {
    font-family: ParisLPA;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    letter-spacing: 0.5px;
    text-align: left;
    display: block;
    color: rgb(255, 255, 255);
    height: 53px;
    text-decoration: none;
    padding: 15px;
    padding-top: 14px;
    padding-right: 15px;
}

.menu a:hover {
    height: 61px;
    border-bottom: 2px solid rgb(32, 32, 32);
}

header.headerscroll .submenuitem{   /*Cambia el color de los textos del menú cuando hace scroll*/
    color: rgb(41, 41, 43);
}

/*Iconos redes sociales header*/

.redes_sociales1 {
    display: flex;
    align-items: center;
    position: absolute;
    top: -2px;
    right: 0px;
    height: 100%;
    max-height: 55px;
}

.redes_sociales1 a {
    display: flex;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: ParisLPA;
    font-size: 14px;
}

.redes_sociales1 #ico-gmail {
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin-right: 10px;
}

.redes_sociales1 p {
    font-size: 13px;
    color: rgb(255, 255, 255);
    margin-left: 5px;
}

.contenedor_redes_sociales {
    display: none;
}

.redes_sociales1.redes_sociales1_scroll a,
.redes_sociales1.redes_sociales1_scroll1 a,
.redes_sociales1.redes_sociales1_scroll1 p,
.redes_sociales1.redes_sociales1_scroll #ico-gmail,
.redes_sociales1.redes_sociales1_scroll1 #ico-gmail {
    color: rgb(41, 41, 43);
}

/*Para que se muestre el menu al llamar esta clase*/
ul.show {
    right: -0vh;
    transition: 0.8s;
    opacity: 100;
}

.redes_sociales1_scroll {  /*Oculta iconos redes sociales cuando abre el menú*/
    display: none;
}

.centrarlogotipo_scroll {  /*Pone el logotipo a la izquierda e invierte los colores cuando se abre el menu*/
    filter: invert();
}

.centrarlogotipo_scroll.logotipo {
    position: absolute;
    left: 0;
    top: -17px;
    z-index: 100;
    width: 180px;
}

/*submenu*/
.menu #espaciovacio {
    display: none;
}

.menuitems {
    width: 85px;
}

/*Tamaño dispositivo muy pequeño*/
@media (max-width: 315px) {
    .redes_sociales1 #ico-gmail {
        margin-left: -15px; 
        margin-right: 5px;
    }

    .contenedormenu {
        right: 5px;
    }
}

@media screen and (max-width: 1826px) {
    .redes_sociales1 {
        right: 0;
    }
}

@media screen and (max-width: 1050px) {
    .btn_menu {
        display: inline-flex;
        /*para que el menu se muestre donde corresponde*/
        z-index: 100;
    }

    body.noscroll {
        overflow: hidden;
    }

    .menu {
        /*sale el menu desde la izquierda*/
        opacity: 0;
        position: fixed;
        /*le damos una posicion fija*/
        flex-direction: column;
        /*se hacen columnas*/
        height: calc(100% - 65px);
        /*el 100% por el tamaño de la barra header*/
        top: 0px;
        height: 100vh;
        width: 100vw;
        right: -100vh;
        /*vamos a sacarla de la derecha*/
        margin-right: 0;
        transition: all 0.4s;
        z-index: -3;
        overflow-x: none;
        background-color: rgb(244, 245, 246);
        border-top: 1px solid rgb(224, 224, 224);
    }

    .menu .submenuitem {
        margin-right: 10%;
        margin-left: 9%;
        padding: 30px;
        text-align: center;
        font-size: 20px;
        letter-spacing: 4px;
        color: rgb(41, 41, 43);
    }

    .menu .submenuitem:hover {
        color: rgb(133, 134, 138);
        border-bottom: 1px solid rgba(179, 179, 179);
    }

    #submenuitems{
        padding-top: 60px;
    }

    /*submenu*/
    .menu #espaciovacio {
        display: block;
    }

    .menu .menuitems {
        list-style: none;
        width: 100%;
        overflow: hidden;
    }

    /*Redes sociales*/

    .redes_sociales1 {
        right: 47px;
        z-index: 100;
        left: 20px;
    }

    .redes_sociales1 a {
        font-size: 14px;
        padding-right: 8px;
    }

    .redes_sociales1 p {
        display: none;
    }

    .redes_sociales1 #ico-gmail {
        display: block;
    }

    .redes_sociales1 .icofont-ui-call{
        margin-left: -5px;
    }

    .contenedor_redes_sociales {
        display: flex;
        justify-content: center;
        margin: auto;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: rgb(247, 247, 247);
    }

    .contenedor2_redes_sociales {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 100%;
        border-top: 1px solid rgb(224, 224, 224);
    }

    .redes_sociales {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin-bottom: 40px;
        padding-bottom: 15px;
        border-bottom: 1px solid rgb(224, 224, 224);
    }

    .redes_sociales a {
        font-size: 25px;
        text-decoration: none;
        color: rgb(60, 61, 61);
        border-bottom: none;
        padding: 10px;
    }

    .contenedor_redes_sociales .redes_sociales a:hover {
        background-color: none;
        color: rgb(120, 121, 122);
        border-bottom: none;
        height: 17px;
    }

    .vanaal {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .vanaal a {
        text-decoration: none;
        font-family: Vinete-MT;
        letter-spacing: 5px;
        color: rgb(60, 61, 61);
        font-size: 20px;

    }

    .vanaal a:hover {
        border-bottom: none;
    }
}

/*arreglar tamaño en tableta girada*/
@media screen and (max-height: 480px) {
    .menu {
        height: 110vh;
    }

    .contenedor_redes_sociales {
        display: none;
    }
}

@media screen and (max-width: 858px) and (orientation: landscape) {
    .menu {
        overflow: scroll;
        /*que se pueda scrollear*/
        height: calc(100% - 65px);
        /*se recalcula*/
    }
}