@font-face {
  font-family: "ParisLPA";
  src: url("../font/FeniceStd-Regular.woff") format("woff");
}

@font-face {
  font-family: "Vinete-MT";
  src: url("../font/BodoniMT.woff") format("woff");
}

@font-face {
  font-family: "Laika";
  src: url("../font/DidotRoman.woff") format("woff");
}

@font-face {
  font-family: "NewQueen";
  src: url("../font/RockwellNova.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.noscroll2 {
  overflow: hidden;
}

/*Fotos producto modo dispositivo*/

/*Comienzo de banner*/
#imgfija_cont2,
#imggrid_2 {
  display: block;
}

#imgfija_cont2_grande,
#imggrid_2_grande {
  display: none;
}

.contenedorporfolio .bannerfijo {
  background-image: url(../images/producto/Perfume-Sex-and-the-city-2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100vh cover;
  background-position-x: 49%;
}

.degradadobanner2 {
  width: 100%;
  max-width: 1920px;
  height: 100vh;
  background: linear-gradient(to bottom, #252e3f, #01071d);
  position: absolute;
  z-index: -90;
}

.degradadobanner {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
}

.txtbanner {
  height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 13vh;
}

.txtbanner .conttxtbanner {
  margin-top: 30vh;
}

.txtbanner .conttxtbanner,
.txtbanner2 .conttxtbanner2 {
  width: 250px;
  text-align: center;
  color: white;
}

.txtbanner .conttxtbanner h2,
.txtbanner2 .conttxtbanner2 h2,
.cont_txt_imgfija1 h2,
.txtwhiteback h2 {
  font-size: 40px;
  font-family: Laika;
  text-shadow: 3px 3px 4px rgba(27, 27, 27, 0.2);
  padding-bottom: 15px;
}

.txtbanner .conttxtbanner p,
.txtbanner2 .conttxtbanner2 p,
.cont_txt_imgfija1 p,
.txtwhiteback p {
  font-family: NewQueen;
  letter-spacing: 0.7px;
  font-size: 14px;
  line-height: 1.4;
}

.txtbanner2 {
  padding-top: 350px;
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.txtbanner2 .conttxtbanner2 {
  margin-top: -80vh;
}

/*Fin del banner*/

/*Comienzo White background*/
.whitebackground {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.whitebackground .imgwhiteback {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: -30vh;
  z-index: 2;
}

.whitebackground .imgwhiteback img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  max-height: 650px;
}

.whitebackground .txtwhiteback {
  width: 90%;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  padding-bottom: 30px;

}

.txtwhiteback h2 {
  text-shadow: none;
  padding-bottom: 10px;
  background: url(../images/degradados/degradado-dorado.jpg);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*Fin White background*/

/*Comienzo grid fotos 1*/

.gridfotos1 {
  width: 100%;
  height: 60vh;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

/*.gridfotos1 #img_gridfotos1 {
  padding: 20px;
  padding-top: 0;
}*/

.gridfotos1 img {
  width: 100%;
  height: 92%;
  object-fit: cover;
  padding-top: 0;
}

/*Fin grid fotos 1*/

/*Comienzo imagen fija 1*/

.contenedor_imagenfija_1 {
  background-color: rgb(10, 14, 13);
}

#contenedor_imagenfija_1 {
  background-color: rgb(29, 29, 29);
}

.contenedor_imagenfija_1 {
  margin-bottom: -15px;
}

.contenedor_imagenfija_1 #img_fija_1,
.contenedor_imagenfija_2 #imgfija_cont2 {
  position: sticky;
  top: 45px;
  z-index: -0;
  padding-bottom: 30px;
}

.contenedor_imagenfija_1 #img_fija_1 {
  margin-top: 45px;
  width: 100%;
  height: 70vh;
  object-fit: cover;
}

.grid_cont_imgfija_1,
.grid_cont_imgfija_5,
.grid_cont_imgfija_2 {
  position: relative;
  width: 100%;
  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.774),
      rgba(0, 0, 0, 0.932),
      black);
}

.grid_cont_imgfija_1 #img_fija_3,
.grid_cont_imgfija_5 #img_fija_3,
.grid_cont_imgfija_2 #img2_gridfijo2 {
  margin-top: 30px;
}

.grid_cont_imgfija_1 #img_fija_2,
#img_fija_3,
.grid_cont_imgfija_2 #img1_gridfijo2,
#img2_gridfijo2,
.grid_cont_imgfija_5 #img_fija_2,
.grid_cont_imgfija_5 #img_fija_3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-radius: 20px;
}

.grid_cont_imgfija_1 {
  width: 100%;
  height: 60vh;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 80px;
}

.grid_cont_imgfija_1 #img_fija_2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cont_txt_imgfija1 {
  color: white;
  background-color: black;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 160px;
  padding-bottom: 170px;
  text-align: center;
}

#txt_imgfija_1 h2 {
  background: url(../images/degradados/degradado-azul.jpg);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


/*Fin imagen fija 1*/

/*Comienzo grid scroll fotos 2*/
#imggrid_2 {
  width: 100%;
}

.carrusel_scroll {
  background-color: rgb(255, 255, 255);
  height: 580px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  width: 96, 5vw;
}

.cont_carrusel_scroll {
  width: 100%;
  display: flex;
  overflow: scroll;
  overflow-y: hidden;
  list-style: none;
}

.cont_carrusel_scroll_1 {
  display: flex;
}

.cont_carrusel_scroll h2 {
  color: rgb(199, 199, 199);
  font-size: 0.9em;
  font-weight: 400;
  letter-spacing: 1px;
  position: absolute;
  height: 30px;
  margin-left: 20px;
  margin-top: 10px;
}

.cont_carrusel_scroll::-webkit-scrollbar {
  height: 6px;
  background-color: rgb(172, 172, 172);
  border-radius: 15px;
}

.cont_carrusel_scroll::-webkit-scrollbar-thumb {
  background-color: rgb(37, 51, 114);
  border-radius: 15px;
}

.cont_carrusel_scroll img {
  padding-top: 50px;
  max-width: 500px;
  height: 530px;
  object-fit: cover;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  cursor: pointer;
}

/*Comienzo Lightbox*/

#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.925);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

#contenedor-lightbox {
  width: 100%;
  padding: 2px;
  position: relative;
  display: flex;
  justify-content: center;
}

#contenedor-lightbox img {
  width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
  color: #f3f3f3;
}

#btn-cierra,
#btn-retrocede,
#btn-adelanta {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: absolute;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.295);
  color: black;
  border-radius: 50px;
  font-size: 1.7rem;
  top: 50%;
  right: 10px;
  z-index: 101;
}

#btn-cierra {
  top: 10px;
}

#btn-retrocede {
  left: 10px;
}

.slider {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 15px;
  list-style: none;
}

.slider input[type="radio"] {
  display: none;
}

.slider input[type="radio"]+label {
  position: relative;
  z-index: 50;
  margin: 10px;
  display: block;
  width: 40px;
  height: 4px;
  background: rgba(255, 255, 255, 0.295);
  cursor: pointer;
  border-radius: 20px;
}

.slider input[type="radio"]:checked+label {
  background: rgb(27, 179, 133);
}

/*Fin Lightbox*/

/*Fin grid fotos 2*/

/*Comienzo imagen fija 2*/
.contenedor_imagenfija_2 {
  background-color: rgb(4, 5, 20);
}

#contenedor_imagenfija_1 #img_fija_1 {
  width: 100%;
}

.grid_cont_imgfija_2 #img1_gridfijo2,
#img2_gridfijo2 {
  border-radius: 0;
}

.grid_cont_imgfija_2 .imgfinal_gridfijo2 {
  padding-bottom: 100px;
}

/*Fin imagen fija 2*/

/*Contenedor modo pc*/

@media (max-width: 315px) {
  .contenedorporfolio {
    min-width: 270px;
  }

  .txtbanner2 .conttxtbanner2 {
    margin-bottom: 100px;
  }
}

@media (min-width: 1400px) {
  .contenedorporfolio {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1050px) {

  /*Comienzo arreglo del header y menú*/
  .menu .submenuitem {
    color: white;
  }

  header.headerscroll .menu .submenuitem {
    color: black;
  }

  /*Fin arreglo del header y menú*/
}

@media screen and (min-width: 660px) {

  /*Comienzo del banner*/
  #imgfija_cont2,
  #imggrid_2 {
    display: none;
  }

  .contenedorporfolio .bannerfijo {
    background-image: url(../images/producto/Perfume-Sex-and-the-city.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-y: 10%;
  }

  .txtbanner .conttxtbanner h2,
  .txtbanner2 .conttxtbanner2 h2,
  .txtwhiteback h2,
  .cont_txt_imgfija1 h2 {
    margin-bottom: 1%;
    font-size: 50px;
    letter-spacing: 0.8px;
  }

  .txtbanner .conttxtbanner p,
  .txtbanner2 .conttxtbanner2 p,
  .txtwhiteback p,
  .cont_txt_imgfija1 p {
    font-size: 16px;
    letter-spacing: 0.8px;
  }

  .txtbanner .conttxtbanner {
    width: 340px;
  }

  .txtbanner2 .conttxtbanner2 {
    width: 450px;
  }

  /*Fin del banner*/

  /*Comienzo white background*/
  .whitebackground .txtwhiteback {
    margin-bottom: -30px;
    width: 560px;
  }

  .txtwhiteback h2 {
    margin-bottom: 2px;
  }

  .whitebackground .imgwhiteback img {
    width: 500px;
    max-height: 1000px;
  }

  /*Fin white background*/

  /*Comienzo grid producto 1*/
  /*.gridfotos1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 5%;
    row-gap: 30px;
    margin-bottom: 50px;
  }*/


  .gridfotos1 {
    display: flex;
    width: 100%;
    height: 90vh;
    padding-left: 10%;
    padding-right: 10%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
  }

  .gridfotos1 img {
    height: 90%;
  }

  /*Fin grid editorial 1*/

  /*Comienzo imagen fija 1*/

  .contenedor_imagenfija_1 {
    padding-top: 50px;
  }

  .contenedor_imagenfija_1 #img_fija_1,
  .contenedor_imagenfija_2 #imgfija_cont2_grande {
    display: block;
    margin-right: auto;
    margin-left: auto;
    top: 75px;
    width: 30%;
    border-radius: 30px;
    padding-bottom: 20px;
  }

  .contenedor_imagenfija_1 #img_fija_1 {
    width: auto;
    height: 85vh;
    border-radius: 0px;
  }

  .grid_cont_imgfija_1,
  .grid_cont_imgfija_2,
  .grid_cont_imgfija_5 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 5%;
    row-gap: 30px;
    padding-top: 140px;
    background: linear-gradient(to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.315),
        rgba(0, 0, 0, 0.822),
        black);
    backdrop-filter: blur(1.5px);
  }

  .grid_cont_imgfija_1 #img_fija_2,
  #img_fija_3,
  .grid_cont_imgfija_2 #img1_gridfijo2,
  #img2_gridfijo2,
  .grid_cont_imgfija_5 #img_fija_2,
  .grid_cont_imgfija_5 #img_fija_3 {
    width: 100%;
    max-width: 500px;
    margin: 0;
  }

  .grid_cont_imgfija_5 {
    column-gap: 0;
    row-gap: 0;
  }

  .grid_cont_imgfija_5 #img_fija_2,
  .grid_cont_imgfija_5 #img_fija_3 {
    margin: 50px;
  }

  .grid_cont_imgfija_1 #img_fija_3,
  .grid_cont_imgfija_5 #img_fija_3 {
    margin-bottom: 50px;
  }

  /**/
  .grid_cont_imgfija_1 {
    width: 100%;
    height: 100vh;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 80px;
    padding-bottom: 30px;
  }

  .grid_cont_imgfija_1 #img_fija_2 {
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: contain;
  }

  /**/

  .cont_txt_imgfija1{
    padding-top: 170px;
  }

  .cont_txt_imgfija1 h2,
  .cont_txt_imgfija1 p {
    justify-self: center;
    align-self: center;
    margin-bottom: -2%;
  }

  .txt_imgfija_1 {
    width: 350px;
    text-align: center;
    align-self: center;
    justify-self: center;
    margin-bottom: 50px;
  }

  /*Fin imagen fija 1*/

  /*Comienzo grid scroll fotos 2*/

  #imggrid_2_grande {
    display: block;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    margin-bottom: 60px;
  }

  .carrusel_scroll {
    height: 700px;
    padding-bottom: 50px;
    margin-left: 50px;
  }

  .cont_carrusel_scroll h2 {
    margin-top: -50px;
  }

  .cont_carrusel_scroll img {
    width: 500px;
    height: 600px;
    padding-top: 0;
  }

  /*Comienzo Ligthbox*/
  #btn-cierra:hover,
  #btn-retrocede:hover,
  #btn-adelanta:hover {
    background-color: rgb(206, 206, 206);
    color: rgb(48, 48, 48);
  }

  #contenedor-lightbox img {
    width: auto;
    height: 100vh;
  }

  .slider input[type="radio"]+label {
    margin: 15px;
    width: 70px;
  }

  /*Fin Lightbox*/
  /*Fin grid fotos 2*/

  /*Comienzo imagen fija 2*/

  .contenedor_imagenfija_2 {
    margin-bottom: -3px;
  }

  .contenedor_imagenfija_2 #imgfija_cont2_grande {
    position: sticky;
    top: 55px;
    width: 100%;
    height: 100vh;
    border-radius: 0;
    object-fit: cover;
  }

  .grid_cont_imgfija_2 {
    padding-bottom: 180px;
    padding-left: 70px;
    padding-right: 70px;
  }

  /*Fin imagen fija 2*/
}

/*Banner después de 1420px de resulución de pantalla*/

@media screen and (min-width: 1420px) {
  .contenedorporfolio .bannerfijo {
    background-image: url(../images/producto/Perfume-Sex-and-the-city.jpg);
    background-size: cover;
  }
}